<div class="container">
  <div class="row my-5">
    <div class="col-12">
      <h1 class="text-center">Installation Portal</h1>
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>Start An Installation</h4>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <label for="newCustomer" class="form-label"><h5
                class="card-subtitle"
              >Customer</h5></label>
            <select id="newCustomer" class="form-select">
              <option selected>Choose Customer</option>
              {{#each customers}}
                <option value="{{this._id}}">{{this.firstName}}
                  {{this.lastName}}</option>
              {{/each}}
            </select>
          </div>
          <label for="requiredPhotos" class="form-label"><h5
              class="card-subtitle"
            >Required Photo Types</h5></label>
          <div id="requiredPhotos" class="mb-3">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="postInstallPhoto"
                checked
              />
              <label class="form-check-label" for="postInstallPhoto">
                Post-installation
              </label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                value=""
                id="preInstallPhoto"
              />
              <label class="form-check-label" for="preInstallPhoto">
                Pre-installation
              </label>
            </div>
          </div>
          <div class="mb-3">
            <label for="newNotes" class="form-label"><h5
                class="card-subtitle"
              >Notes</h5></label>
            <textarea class="form-control" id="newNotes" rows="3"></textarea>
          </div>
          <button onClick="" class="btn btn-primary">Begin Install</button>
        </div>
      </div>
    </div>
    {{#each projects}}
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Installation for
              {{this.firstName}}
              {{this.lastName}}</h4>
          </div>
          <div class="card-body">
            <h5 class="card-subtitle">Progress:</h5>
            <p class="card-text">Started</p>
            <h5 class="card-subtitle">Notes:</h5>
            <p class="card-text">N/A</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>